<h1>Sign UP</h1>
<form action="">
    <label for="email">Email</label>
    <input type="text" name="email"><br>
    <label for="password">Password</label>
    <input type="text" name="password"><br>
    <button type="submit">Signup</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const form=document.querySelector('form');
    form.addEventListener('submit',async(e)=>{
        e.preventDefault();
        const email=form.email.value
        const password=form.password.value
        try{
            const result=await axios.post('/signup',{email,password})

        }
        catch(err){
            console.log(err)

        }
    })


</script>