<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/header.ejs')%>
    <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est cum esse eos, ullam, rerum, veritatis amet necessitatibus quae tempore inventore saepe sit dolor molestias provident? Sed optio suscipit eum iusto!
    </div>

    
</body>
</html>