<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="stylesheet" href="/styles.css">
    
</head>
<body>
    <nav>
        <div class="nav-container">
            <div class="nav-brand"><h2>BLOG SITE</h2></div>
            <ul class="nav-menu">
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/create">New Blog</a></li>
            </ul>
        </div>

    </nav>